 /* .menu-service {
  position: absolute;
  z-index: 1;
}

.display-menu-button {
  width: 43px;
  height: 43px;
  border: none;
  background-color: transparent;
  line-height: 25px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-image: url('forkplus.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: left;
}

.menuContainer {
  display: flex;
  width: 550px;
  position: relative;
  height: auto !important;
  flex-direction: row;
  justify-content: space-between;
}

.menuContainer:focus {
  background-color: antiquewhite;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.categoryButton {
  opacity: 1;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid white;
  border-right-width: thin;
  padding: 13px 17px 13px 10px;
  width: 119px;
  height: 50px;
  margin-top: 11px;
  margin-right: 8px;
  margin-left: 8px;
  justify-content: center;
  align-content: center; 
  font-size: 12px;
  background-color: black;
  background: black url('downarrow.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right;
  outline: none;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリ オ", "Meiryo", Helvetica, Arial, Verdana, sans-serif;
}

.categoryButton:hover {
  opacity:.5!important;
}

.categoryButton:focus {
  opacity:.5!important;
}  */
.item-button {
  /* padding: 50px;
  transition-duration: 1000ms;
  border-color: white;
  background-color: black;
  color: white; 
  opacity: 1;
  outline: none; 
  margin: 3px;  */
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリ オ", "Meiryo", Helvetica, Arial, Verdana, sans-serif; 
}

 /* .item-button:hover {
  cursor: pointer;
  opacity: 0.5!important;
}   */

.display-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  opacity: 0.8;
  /* height: auto;  */
  /* margin-left: auto;
  margin-right: auto;  */
  align-items: start;
  top: 72px;
  width: 550px;
  border-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:black; 
  transition: opacity 300ms ease-in-out 1s; 
  position: absolute;
}

.display-wrapper :first-child {
  align-self: center;
}
/* 
.nav-bar {
  opacity: 0.8;
  position: absolute;
  background-color: black;
  width: 550px;
  height: 72px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid white;
  border-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body {
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリ オ", "Meiryo", Helvetica, Arial, Verdana, sans-serif;
} */