body {
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリ オ", "Meiryo", Helvetica, Arial, Verdana, sans-serif;
}

.header {
    font-size: 13px;
    background-color: aqua;
    height: 60px;
    width: 570px;
    border-bottom: 1px solid #444444;
}

.menu {
    position: absolute;
}

.bill-category {
display: flex;
flex-direction: row;
justify-content: space-around;
height: 61;
}

.bill-container {
    position: relative;
    width: 570px;
    min-height: 528px;
    height: auto;
    background-color: aquamarine;
}

.calculator-container {
    position: relative;
    border-top: 0.5px solid grey;
    background-color: cornflowerblue;
    width: 570px;
    height: 72px;
    align-content: center;
}

.item {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid grey;
}

.qty {
    position: relative;
    right: 59px;
}

.price {
    position: absolute;
    left: 252px;
}

.itemName {
    position: relative;
    left: 35px;
}

.itemContainer {
    position: relative;
    height: auto;
    width: 570  px;
    background-color: orange;
}