body {
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリ オ", "Meiryo", Helvetica, Arial, Verdana, sans-serif;
}

.header {
    font-size: 13px;
    height: 40px;
    width: 570px;
    color: black;
    background-color:white;
}

.menu {
    position: relative;
    left: 503px;
    bottom: 2px;
}

.bill-category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 61;
    background-color: aquamarine;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bill-container {
    position: relative;
    width: 568px;
    min-height: 528px;
    height: auto;
    background-color:white;
    border-style: solid;
    border-width: thin;
    border-bottom: 0px;
    border-color: rgb(233, 232, 232);
    top: 0px;
}


.calculator-container {
    position: relative;
    background-color:white;
    border-style: solid;
    border-width: thin;
    border-color: rgb(233, 232, 232);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 568px;
    height: 72px;
    align-content: center;
    box-shadow: 0 1px 7px rgba(131, 125, 125, 0.05);
    top: 500px;
}

.item {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid grey;
    align-items: center;
}

.item-buttons {
    position: relative;
    left: 60px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
}

.qty {
    position: relative;
    right: 59px;
}

.price {
    position: absolute;
    left: 252px;
}

.itemName {
    position: relative;
    left: 35px;
}

.itemContainer {
    position: relative;
    height: auto;
    width: 570 px;
    background-color: rgb(233, 232, 232);
}